.menu,.label
{
    -fx-text-fill: white;
    -fx-background: black ;
}

.menu-item .label{
    -fx-text-fill: white;

}

.menu-item{
    -fx-background: black ;
}

.context-menu {
    -fx-background-color: "AC67B7";
}